:root {
  --linkedTeam-font: #9340ff;
  --transition: all 400ms ease;
}

.container-comentarios {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-content: center;
  justify-content: center;
}
.new-comentario {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.input-comentario {
  color: white;
  font-weight: bold;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-top: 10px;
  background: transparent;
}

.comentario-publicado {
  display: flex;
  align-content: center;
  /* justify-content: center; */
  margin: 20px 0;
}

.usuario {
  /* font-size: 14px; */
  margin-bottom: 2px;
}

.comentario-content {
  align-items: flex-start;
  margin: 20px 0;
}

.comment-action {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  margin: 8px 0;
  gap: 1rem;
}

.comment-action span {
  cursor: pointer;
  transition: var(--transition);
  font-weight: 500;
}

.comment-action span:hover {
  color: var(--linkedTeam-font);
}

.comment {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  width: 4rem;
  border: 1px solid black;
}

.comentario {
  color: white;
  margin-left: 1rem;
  /* display: flex; */
  margin-bottom: 1rem;
}

.comentario p {
  margin-bottom: 0px;
}

#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
}

.comment-header {
  color: white;
  font-weight: bold;
}

.response {
  align-self: end;
}

.response-content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  align-items: flex-start;
  /* margin-bottom: 1rem;
  padding: 1.5rem; */
  width: 85%;
  /* align-self: end; */
  /* min-height: 6rem; */
  /* gap: 1rem; */
  /* border-top: 0px; */
  /* border-radius: 1rem; */
  /* background-color: #24385b; */
}

.respuesta {
  background: transparent;
  font-weight: bold;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.thread-left {
  border-left: 1px solid white;
  height: 2rem;
}

.thread-bottom {
  border-bottom: 1px solid white;
  width: 1rem;
  /* position: absolute; */
}

.comentario-resp {
  color: white;
  margin-left: 1rem;
  display: flex;
}

.comentario-resp div {
  margin-left: 1rem;
}
