@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
}

.container {
  width: 90%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.kanban-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kanban-head-title {
  font-size: 2.5rem;
  color: #e4e4e4;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
}

.kanban-table {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: fit-content;
}

.kanban-block {
  text-align: center;
  padding: 0.6rem;
  margin: 0.5rem;
  width: 30.5%;
  height: auto;
  min-width: 12rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #018b01;
  align-items: center;

  margin-bottom: 15px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form-title {
  text-align: center;
  font-size: 1.5rem;
  color: #e4e4e4;
  border-radius: 0.5rem;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 2rem;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0.3rem;
}

.textarea-text {
  height: auto;
  border-radius: 5px;
  padding-left: 10px;
}

.tabla {
  height: 68vh;
  background-color: white;
}

.tarea {
  text-align: start;
  background-color: rgb(72, 80, 72);
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  font-size: small;
}

.datosTabla {
  width: 6rem;
}
