* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  min-width: 50%;
  /* display: flex; */
  flex-direction: column;
}

.kanban-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kanban-head-title {
  font-size: 2.5rem;
  color: #e4e4e4;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
  font-weight: bold;
}

.kanban-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* gap: 20px; */
  margin: 20px 0;
  height: fit-content;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin-bottom: 2rem;
  margin-left: 3rem;
  /* width: fit-content; */
}

.tabla:first-child {
  border-left: 7px solid #246dec;
}

.tabla:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.tabla:nth-child(3) {
  border-left: 7px solid #cc3c43;
}

.tabla:nth-child(4) {
  border-left: 7px solid #13472b;
}

.tabla:nth-child(5) {
  border-left: 7px solid #367952;
}

.kanban-block {
  text-align: center;
  /* padding: 0.6rem; */
  margin: 0.5rem;
  width: 17vw;
  height: 67vh;
  min-width: 13rem;
  min-height: 6.5rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #018b01;
  align-items: center;

  margin-bottom: 15px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form-title {
  text-align: center;
  font-size: 1.5rem;
  color: #e4e4e4;
  border-radius: 0.5rem;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 2rem;
  border-radius: 5px;
  padding-left: 10px;
  margin: 0.3rem;
}

.textarea-text {
  height: auto;
  border-radius: 5px;
  padding-left: 10px;
}

.tabla {
  background-color: white;
}

.tarea {
  text-align: start;
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  font-size: small;
  cursor: grab;
  display: flex;
  flex-direction: column;
}

.datosTabla {
  width: 6rem;
}

.pagina {
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.texto {
  float: right;
}

.kanban-title {
  font-size: var(--card-title);
  margin-bottom: 0px;
  font-weight: bold;
}

.single-view-card {
  margin: 5rem 12rem 0 17rem;
}

.button-single-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-single {
  display: inline-block;
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: fit-content;
  margin-inline: 0.5rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button-single:hover {
  box-shadow: 0px 37px 20px -20px rgba(251, 251, 251, 0.2);
  color: white;
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}

/* PRINCING CARD */

.pricing-card {
  width: 10rem;
  height: 10rem;
  content: "";
  background: #581c87;
  border-radius: 15px;
}

.sort-search {
  height: fit-content;
  width: fit-content;
  /* display: grid; */
  gap: 0.5rem;
  margin-top: 5px;
}

.box-dashboard {
  display: grid;
  width: 17rem;
}

.t-summary th {
  padding: 0.25rem;
}

.t-summary td {
  padding: 0.25rem;
}

scroll-container {
  display: block;
  height: 22rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  scroll-container {
    height: 25rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  scroll-container {
    height: 35rem;
  }
}

.activity {
  display: flex;
  justify-content: center;
  gap: 3vw;
  cursor: pointer;
}
