/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

:root {
  --linkedTeam-font: #9340ff;
  --black: #222;
  --white: #fff;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(var(--black));
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: -2px 2px 1px #000;
  --text-light: 0 1.5rem 3rem rgb(253, 253, 113);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e4e9f7;
  color: black;
}

.font1 {
  font-size: 63px;
}

.font2 {
  font-size: 50px;
}

/* COURSES SECTION */

.courses {
  margin-top: 10 rem;
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: #2e3267;
  color: white;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}

.course:hover {
  background: transparent;
  border-color: black;
  color: black;
}

.course__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.course__image2 {
  object-fit: cover;
  width: auto;
  height: 20rem;
}

.course__btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  background-color: red;
  color: white;
  font-weight: 500;
  transition: all 400ms ease;
}

.course__btn:hover {
  background-color: green;
  color: white;
  border-color: white;
}

.course__info {
  padding: 2rem;
}

.course__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

.landing__text__color {
  color: #9340ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  display: flex;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 1rem 10%;
}

.header .logo {
  font-size: 2rem;
  color: var(--black);
}

.header .navbar {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: var(--black);
  gap: 4rem;
}

.header .navbar :hover {
  color: var(--linkedTeam-font);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.new-home {
  padding: 0;
}

.new-home .slide {
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center;
  min-height: 50rem;
}

.new-home .slide .content {
  width: 85rem;
}

.new-home .slide .content span {
  display: block;
  font-size: 2.2rem;
  color: var(--white);
  padding-bottom: 1rem;
  text-shadow: var(--text-shadow);
  position: relative;
}

.new-home .slide .content h3 {
  font-size: 6vw;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1;
  text-shadow: var(--text-shadow);
  font-weight: bold;
}

.footer {
  background-color: var(--white);
  color: var(--black);
}

.footer h3 {
  text-align: center;
  padding-block: 3rem;
}

.footer .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-bottom: 3rem;
  text-align: center;
}

.box i {
  font-size: 1.75rem;
}

.box a {
  font-size: 1.25rem;
}

.footer .credit {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--black);
}

.footer .credit a {
  color: #35ad94;
  font-size: 3rem;
  font-weight: bold;
  font-family: system-ui, sans-serif;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
}

.services .box-container .box {
  padding: 1rem 5rem;
  text-align: center;
  background-color: var(--linkedTeam-font);
  cursor: pointer;
}

.services .box-container .box:hover {
  background-color: var(--black);
}

.services {
  color: var(--white);
  padding-bottom: 3rem;
}

.services .box-container .box i {
  font-size: 8rem;
}

.services .box-container .box h4 {
  font-weight: bold;
}

.heading-tittle {
  text-align: center;
  margin-block: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-tittle span {
  color: var(--linkedTeam-font);
  font-weight: bold;
  text-shadow: var(--text-shadow);
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

.footer .box a i {
  transition: 0.2s linear;
}

.footer .box a:hover i {
  padding-right: 2rem;
}

@media (max-width: 991px) {
  html {
    font-size: 80%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5);
    padding: 2rem;
    display: block;
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s linear;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s linear;
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    text-align: center;
  }

  #menu-btn {
    display: inline-block;
  }

  /* #menu-btn.fa-xmark {
    transform: rotate(180deg);
  } */

  .box a {
    padding-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 70%;
  }

  section {
    padding: 3rem 2rem;
  }
}

.agency-not-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-not-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-not-set img {
  height: 26rem;
  margin-left: 7rem;
}
.video-not-set a h2 {
  color: white;
  width: 33rem;
  font-size: 2.5rem;
}
.agency-not-set img {
  height: 29rem;
  margin-left: 7rem;
}

.agency-not-set a h2 {
  /* color: white; */
  width: 25rem;
  font-size: 2.5rem;
}

.payment-table th {
  color: #000;
}

.payment-table td {
  color: #000;
}

.payment-approvement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background-linkedin {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}
