* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #695cfe;
}

/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

.login {
  background-color: white;
  display: grid;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 5px;
}

.loginH1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
  z-index: -1;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.cardBody {
  width: auto;
  height: auto;
}

.card {
  /* margin-bottom: 20px; */
  /* line-height: 1.42857143; */
  background-color: #fff;
  border-radius: 25px !important;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #000;
  height: auto;
  /* transition: box-shadow .25s; */
}

.card:hover {
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
  font-weight: 400;
}

.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

body {
  font-weight: 1.3rem;
  background-color: transparent;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header h3 {
  font-size: 1.2rem;
  color: #f27b28;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #575656;
}

.containersegmento {
  font-size: calc(1.475rem+ 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  background-image: linear-gradient(160deg, #eff0f0 70%, #eaebeb 100%);
  padding: 1rem 0;
}

/* img {
  width: 40%;
  border-radius: 12px;
  object-fit: contain;
} */

.span {
  color: rgb(147, 64, 255);
}

.icono {
  font-size: 30px;
  color: black;
}

.coolbtn {
  color: #fff;
  background: linear-gradient(135deg, #852d91, #312a6c);
  font-size: 22px;
  font-weight: 700;
  text-transform: lowercase;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  height: fit-content;
  position: relative;
  width: min-content;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.coolbtn:hover {
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: rotate 0.7s ease-in-out both;
}
.coolbtn:before,
.coolbtn:after {
  content: "";
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.coolbtn:hover:before,
.coolbtn:hover:after {
  opacity: 0.15;
}
.coolbtn:hover:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.coolbtn:hover:after {
  transform: translate(50%, 0) scale(1.1);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 767px) {
  .coolbtn {
    margin-bottom: 20px;
  }
}

.password-show {
  position: absolute;
  right: 15%;
  top: 61.5%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #a1a2a5;
  cursor: pointer;
  /* display: none; */
}

.password-show-login {
  position: absolute;
  right: 15%;
  top: 42.5%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #a1a2a5;
  cursor: pointer;
  /* display: none; */
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .password-show {
    top: 66.5%;
    /* display: none; */
  }
  .password-show-login {
    top: 41.5%;
    /* display: none; */
  }
}

@media (max-width: 450px) {
}

/* Espaciado de botones en Componente Main Chart */
.single-btn {
  display: flex;
  justify-content: center;
}

.not-single-btn {
  display: flex;
  justify-content: space-evenly;
}

/* header de Admin Pannel */
.admin-pannel-header {
  display: flex;
  justify-content: space-evenly;
}

.admin-pannel-header div {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.create-course-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}

.dropdown-type {
  display: flex;
  justify-content: space-evenly;
}
.toaster {
  margin-top: 5rem;
}
