:root {
  --card-title: 18px;
  --prospectos: #246dec;
  --contactados: #f5b74f;
  --primera-cita: #cc3c43;
  --negociacion: #4ff0f5;
  --cierres: #367952;
  --linkedTeam-font: #9340ff;
}

.main__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.main__title {
  display: flex;
  justify-content: center;
}

.main__title > p {
  font-size: 2.5rem;
  font-weight: bold;
}

.card__profile {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card__profile:first-child {
  border-left: 7px solid #246dec;
}

.card__profile:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card__profile:nth-child(3) {
  border-left: 7px solid #cc3c43;
}

.card__profile:nth-child(4) {
  border-left: 7px solid #4ff0f5;
}

.card__profile:nth-child(5) {
  border-left: 7px solid #367952;
}
.card__inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card__inner > p {
  font-size: var(--card-title);
  margin-bottom: 0px;
  font-weight: bold;
}

.numero {
  font-size: var(--card-title);
  margin-bottom: 0px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card__inner > span {
  font-size: 35px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.history_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53%;
  width: 65%;
  padding-left: 2rem;
}

table {
  background: #fff;
  padding: 1rem;
  border: black 1px solid;
}
table td,
th {
  padding: 0.2rem 0.8rem;
  border: black 1px solid;
}
table th {
  font-size: 15px;
}
table td {
  font-size: 13px;
  /* font-weight: bold; */
  /* color:black; */
}

.img__profile {
  width: 30%;
}

.App {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-align: center;
}

.perfil-dashboard {
  display: flex;
}

.fuel-tag {
  color: white;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.fuel-div {
  width: 25rem;
  height: 19rem;
  padding: 1rem;
  background: black;
  border-radius: 20px;
}

.table-color-closed {
  background-color: var(--cierres);
  color: white !important;
}

.table-color-not-closed {
  background-color: var(--prospectos);
  color: white !important;
}

.intro-square {
  height: 15rem;
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  /* font-weight: bold; */
}

.intro-square h5 {
  font-weight: bold;
}

.main-intro {
  margin-inline: 5rem;
}

.wrapper-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 1;
  grid-row: 1;
}

.one-intro {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--prospectos);
  color: white;
}

.two-intro {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--cierres);
  color: white;
}

.three-intro {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--contactados);
}
.four-intro {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--primera-cita);
  color: white;
}

.main-wrapper-intro {
  padding-left: 2rem;
  width: 37%;
}

.img-intro {
  width: 40%;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 1rem;
  box-shadow: 25px 31px 14px -9px rgba(0, 0, 0, 0.1);
}

.about {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0rem 8%;
}

.about .image {
  flex: 1 1 41rem;
}

.about .image img {
  width: 75%;
  object-fit: cover;
}

.about .content {
  flex: 1 1 41rem;
  /* text-align: center; */
}

.about .content h3 {
  /* font-size: 3rem; */
  color: white;
}

.about .content h5 {
  /* font-size: 2rem; */
  color: white;
  font-weight: bold;
  color: var(--linkedTeam-font);
}

.about .content p {
  /* font-size: 1.5rem; */
  color: white;
  line-height: 1;
  padding: 0.5rem 0;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
  /* display: none; */
}

.about .content .icons-container .icons {
  background: white;
  padding: 2rem;
  flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: black;
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  color: black;
  display: block;
}

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .about .image {
    flex: 1 1 25rem;
  }

  .perfil-titulo {
    width: min-content;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  .main__title {
    margin-left: 4rem;
  }
}

@media (max-width: 480px) {
  .main__title {
    /* margin-left: 8rem; */
    text-align: center;
  }

  .about {
    margin-left: 9rem;
  }
}

.new__card__profile {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
