.info-user {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.profile-img {
  border-radius: 50%;
  width: 12rem;
  border: 1px solid black;
}

.container-video {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.card {
  width: 20rem;
  margin: 1rem;
  height: 20rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.img-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.icono-play {
  font-size: 2rem;
  color: rgb(124, 118, 118);
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.thumbnail-video {
  height: 50%;
}

.info-video {
  height: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .profile-img {
    border-radius: 50%;
    width: 7rem;
    border: 1px solid black;
  }

  .container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8rem;
    width: 80%;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
  }

  .icono-play {
    font-size: 2rem;
    color: rgb(124, 118, 118);
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: -50%;
    right: 0;
    text-align: center;
  }

  .thumbnail-video {
    height: auto;
    width: 45%;
  }

  .card img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }

  .info-video {
    height: auto;
    width: 50%;
  }
}
