:root {
  --card-title: 18px;
  --prospectos: #246dec;
  --contactados: #f5b74f;
  --primera-cita: #cc3c43;
  --negociacion: #4ff0f5;
  --cierres: #367952;
}

.main__card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
  width: 23%;
}

.main__title {
  display: flex;
  justify-content: center;
}

.main__title > p {
  font-size: 2.5rem;
  font-weight: bold;
}

.card__profile {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card__profile:first-child {
  border-left: 7px solid #246dec;
}

.card__profile:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card__profile:nth-child(3) {
  border-left: 7px solid #cc3c43;
}

.card__profile:nth-child(4) {
  border-left: 7px solid #4ff0f5;
}

.card__profile:nth-child(5) {
  border-left: 7px solid #367952;
}
.card__inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card__inner > p {
  font-size: var(--card-title);
  margin-bottom: 0px;
  font-weight: bold;
}

.numero {
  font-size: var(--card-title);
  margin-bottom: 0px;
  font-weight: bold;
}

.card__inner > span {
  font-size: 35px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.history_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53%;
  width: 65%;
  padding-left: 2rem;
}

table {
  /* background: #fff; */
  padding: 1rem;
  border: black 1px solid;


}
table td,
th {
  padding: 0.2rem 0.8rem;
  border: black 1px solid;
}
table th {
  font-size: 15px;
}
table td {
  font-size: 13px;
  font-weight: bold;
  /* color:black; */
}

.img__profile {
  width: 30%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.perfil-dashboard {
  display: flex;
}

.fuel-tag {
  color: white;
  font-weight: bold;
  margin: 0 21%;
  font-size: 1rem;
}

.fuel-div {

  width: "15rem";
  padding-left: "2rem";
  
}

.table-color-closed {
  background-color: #367952;
  color: white;
}

.table-color-not-closed {
  background-color: #f5b74f;
  color: black;
}

.intro-square {
  height: 15rem;
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  /* font-weight: bold; */
}

.intro-square h5 {
  font-weight: bold;
}

.main-intro {
  margin-inline: 5rem;
}

.wrapper-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 1;
  grid-row: 1;
}

.one-intro {
  grid-column: 1;
  grid-row: 1;
  background-color: #77dd77;
}

.two-intro {
  grid-column: 2;
  grid-row: 1;
  background-color: #fdcae1;
}

.three-intro {
  grid-column: 1;
  grid-row: 2;
  background-color: #fdfd96;
}
.four-intro {
  grid-column: 2;
  grid-row: 2;
  background-color: #ff6961;
}

.main-wrapper-intro {
  padding-left: 2rem;
  width: 37%;
}

.img-intro {
  width: 40%;
}