* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pricing-body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 60px; */
    margin-left: 4rem;
}

.wrapper-pricing-card {
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 1rem;
    margin-left: 4rem; */
}

.wrapper-pricing-card .table-pricing-card {
    background-color: #fff;
    width: calc(33% - 55px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.table-pricing-card .price-section {
    display: flex;
    justify-content: center;
}

.table-pricing-card .price-area {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
}

.aj-p {
    text-align: center;
}

p.aj-des {
    color: grey;
    padding-bottom: 30px;
    font-size: 14px;
}

.table-pricing-card .premium{
    margin: -20px;
}

.price-area .inner-area{
    height: 100%;
    width: 100%;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
}

.price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 5px;
}

.price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
}

.table-pricing-card .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
}

.features .li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.features {
    column-gap: 0.5rem;
    list-style:none;
    margin-bottom: 0px;
}

.features li .list-name{
    font-size: 17px;
    font-weight: 400;
}

.features li .icon{
    font-size: 15px;
}

.check {
    color: #2db94d;
    margin-left: 0.5rem;
    
}

.cross{
    color: #cd3241;
    margin-left: 0.5rem;
    
}

.table-pricing-card .btn-price-card{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-pricing-card .btn-price-card button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table-pricing-card .btn-price-card button:hover{
    border-radius: 5px;
}


.basic ::selection,
.basic .price-area,
.basic .inner-area,
.basic .head_tab h2{
    color: red;
}

.basic .btn-price-card button{
    background: red;
    color: #fff;
    margin-top: -75px;
}

.basic .btn-price-card button:hover{
    background: rgba(240, 101, 36, );
    color: #fff ;

}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .head_tab h2{
    color: #ba24f0;
}

.premium .btn-price-card button{
    background: #ba24f0;
    color: #fff;
    margin-top: -75px;
}

.premium .btn-price-card button:hover{
    background: rgba(240, 101, 36, );
    color: #fff ;
    
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area,
.ultimate .head_tab h2{
    color: #966b2e;
}

.ultimate .btn-price-card button{
    background: #966b2e;
    color: #fff;
    margin-top: -75px;
}

.ultimate .btn-price-card button:hover{
    background: rgba(240, 101, 36, );
    color: #fff ;
    
}