/*Contenedor*/

.contenedor {
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
}

.contenedor-video {
  position: relative;
  padding-top: 56.25%;
}

/*Reproductor de video*/
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
